<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="" name="description">
	<meta content="True" name="HandheldFriendly">
	<meta content="320" name="MobileOptimized">
	<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<title>Launch Checklist Results</title>
	<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	{{! <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> }}
</head>
<body>
	<div class="wrapper">
		<nav>
			<div class="pull-left">
				<h1><a href="javascript:"><img alt="Free Documentation Template Icon" src="img/icon.png"></a></h1>
			</div>
			<div class="pull-right">
				<a class="btn btn-download" href="https://github.com/nielse63/launch-checklist" target="_blank"><img alt="Download Free Documentation Template" src="img/download.png" width="25"> Download Now</a>
			</div>
		</nav>
		<header>
			<div class="container">
				<h2 class="lone-header">Launch Checklist Results</h2>
			</div>
		</header>
		<section>
			<div class="container">
				<ul class="docs-nav">
					<li><strong>Results</strong></li>
					<script id="mst-title" type="x-tmpl-mustache">
						{{=<% %>=}}
						{{#suites}}
						<li>
							<a class="{{cc-active}}" href="#{{slug}}">{{name}}</a>
						</li>
						{{/suites}}
						<%={{ }}=%>
					</script>
				</ul>
				<div class="docs-content">
					<script id="mst-title" type="x-tmpl-mustache">
						{{=<% %>=}}<h2>{{ blogname }} - <a href="{{ siteurl }}" target="_blank">{{ siteurl }}</a></h2><%={{ }}=%>
					</script>
					<script id="mst-title" type="x-tmpl-mustache">
						{{=<% %>=}}
						{{#suites}}
						<section class="test-suite">
							<h3 id="{{slug}}">{{name}}</h3>
							<p>{{description}}</p>
							{{{tests}}}
						</section>
						{{/suites}}
						<%={{ }}=%>
					</script>
				</div>
			</div>
		</section>
		{{! <section class="vibrant centered">
			<div class="">
				<h4>This documentation template is provided by <a href="http://www.frittt.com" target="_blank">Frittt Templates</a>. You can download and use this template for free. If you have used this template, please pay the developer's effort by Tweeting, sharing on Facebook, social mention or with a linkback. Enjoy! :)</h4>
			</div>
		</section>
		<footer>
			<div class="">
				<p>&copy; Copyright Frittt Templates. All Rights Reserved.</p>
			</div>
		</footer> }}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/layout.js"></script>
	{{! <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> }}
	<script>
		window.data = {{{json}}};
	</script>
	<script>
		(function($) {

			window.data.suites.sort((a, b) => {
				if (a.index < b.index) {
					return -1;
				}
				if (a.index > b.index) {
					return 1;
				}
				return 0;
			});

			window.data.suites.forEach(function(suite, i) {
				suite.tests = function() {
					var output = [];

					// print results
					suite.results.forEach(function(test) {

						if( ! test.tests ) {
							console.warn(test);
							return;
						}

						if( ! test.tests.forEach ) {
							test.tests = [test.tests];
						}

						test.tests.forEach(function(section) {
							if( ! section.values ) {
								var tmp = {
									name : test.name,
									values : section
								}
								section = tmp;
							}
							var icon = test.passed ? '<i class="fa fa-check-circle-o"></i>' : '<i class="fa fa-exclamation"></i>';
							var $section = $('<div class="' + (test.passed ? 'passed' : 'failed') + '" />');
							var $table = $('<table class="table"><tbody /></table>');
							var type = {}.toString.call(section.values);
							var colspan = 1;

							if( type === '[object Object]' ) {

								for(var key in section.values) {

									var toPrint = '';
									var subType = {}.toString.call(section.values[key]);
									if( typeof section.values[key] === 'string' ) {
										toPrint = section.values[key];
									} else if( subType === '[object Array]' ) {
										var html = section.values[key].map(function(item) {
											return '<p>' + item + '</p>';
										})
										toPrint = html.join('');
									} else {
										toPrint = String(section.values[key]);
									}

									$table.find('tbody').append([
										'<tr>',
											'<td>' + key + '</td>',
											'<td>' + toPrint + '</td>',
										'</tr>'
									].join(''));
									colspan = 2;
								}
							} else if( type === '[object Array]' && section.headers ) {
								var headers = section.headers;
								var headerKeys = Object.keys(headers);
								$table.prepend('<thead><tr /></thead>');
								headerKeys.forEach(function(th) {
									$table.find('thead tr').append('<th>' + headers[th] + '</th>');
								})
								section.values.forEach(function(row) {
									var $tr = $('<tr />');
									colspan = headerKeys.length
									headerKeys.forEach(function(td) {
										$tr.append('<td>' + row[td] + '</td>');
									});
									$table.find('tbody').append($tr);
								});
							} else if( type === '[object Array]' ) {
								colspan = 1
								section.values.forEach(function(row) {
									$table.find('tbody').append('<tr><td>' + row + '</td></tr>');
								});
							} else if( typeof section.values === 'string' ) {
								colspan = 1
								var text = section.values;
								var $tmp = $('<div>' + section.values + '</div>');
								$tmp.find('pre').each(function() {
									var _text = $(this).html();
									_text = _text.replace(/</g, '&lt;').replace(/>/g, '&gt;');
									text = '<pre><code>' + _text + '</code></pre>';
								})
								$table.find('tbody').append('<tr><td>' + text + '</td></tr>');
							}

							if( section.name ) {
								$table.append('<thead><tr><th colspan="' + colspan + '">' + icon + ' ' + section.name + '</th></tr></thead>');
							}

							if( $table.find('tbody tr').length ) {
								$section.append($table);
							}

							output.push( $section[0].outerHTML );
						});
					});

					return output.join('');
				}
			});
			var toRender = window.data;
			$('[type="x-tmpl-mustache"]').each(function(i, tpl) {
				var template = $(tpl).html().trim();
				Mustache.parse(template);
				var rendered = Mustache.render(template, toRender);
				$(tpl).before(rendered);
			});

			$('.test-suite').each(function() {
				var $section = $(this);
				var $tests = $section.find('.passed, .failed');
				// var cls = $tests.first().attr('class');
				var classes = [];
				// if( $tests.length === 1 ) {
				// 	return;
				// }
				var passing = true;
				$tests.each(function(i, item) {
					var cls = $(item).attr('class');
					if( classes.indexOf(cls) > -1 ) {
						return;
					}
					if( cls !== 'passed' ) {
						passing = false;
					}
					classes.push(cls);
				})
				if( ! $tests.length ) {
					classes = ['failed'];
					passing = false;
				}
				// var cls = $tests.first().attr('class');
				var icon = passing ? '<i class="fa fa-check-circle-o"></i>' : '<i class="fa fa-exclamation"></i>';
				$section.find('> h3').prepend(icon);
				$section.addClass(classes.join(' '));
			});

			$('table p + br').each(function() {
				$(this).remove()
			});
		})(window.jQuery);
	</script>
</body>
</html>
