<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="" name="description">
	<meta content="True" name="HandheldFriendly">
	<meta content="320" name="MobileOptimized">
	<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<title>Launch Checklist Results</title>
	<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	{{! <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> }}
</head>
<body>
	<div class="wrapper">
		<nav>
			<div class="pull-left">
				<h1><a href="javascript:"><img alt="Free Documentation Template Icon" src="img/icon.png"></a></h1>
			</div>
			<div class="pull-right">
				<a class="btn btn-download" href="https://github.com/nielse63/launch-checklist" target="_blank"><img alt="Download Free Documentation Template" src="img/download.png" width="25"> Download Now</a>
			</div>
		</nav>
		<header>
			<div class="container">
				<h2 class="lone-header">Launch Checklist Results</h2>
			</div>
		</header>
		<section>
			<div class="container">
				<ul class="docs-nav">
					<li><strong>Results</strong></li>
					<script id="mst-title" type="x-tmpl-mustache">
						{{=<% %>=}}
						{{#suites}}
						<li>
							<a class="{{cc-active}}" href="#{{slug}}">{{name}}</a>
						</li>
						{{/suites}}
						<%={{ }}=%>
					</script>
				</ul>
				<div class="docs-content">
					<script id="mst-title" type="x-tmpl-mustache">
						{{=<% %>=}}<h2>{{ blogname }} - <a href="{{ siteurl }}" target="_blank">{{ siteurl }}</a></h2><%={{ }}=%>
					</script>
					<script id="mst-title" type="x-tmpl-mustache">
						{{=<% %>=}}
						{{#suites}}
						<section class="test-suite">
							<h3 id="{{slug}}">{{name}}</h3>
							<p>{{description}}</p>
							{{{tests}}}
						</section>
						{{/suites}}
						<%={{ }}=%>
					</script>
				</div>
			</div>
		</section>
		{{! <section class="vibrant centered">
			<div class="">
				<h4>This documentation template is provided by <a href="http://www.frittt.com" target="_blank">Frittt Templates</a>. You can download and use this template for free. If you have used this template, please pay the developer's effort by Tweeting, sharing on Facebook, social mention or with a linkback. Enjoy! :)</h4>
			</div>
		</section>
		<footer>
			<div class="">
				<p>&copy; Copyright Frittt Templates. All Rights Reserved.</p>
			</div>
		</footer> }}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	{{! <script src="js/layout.js"></script> }}
	{{! <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> }}
	<script id="tpl-data">window.data = {{{json}}};</script>
	<script src="js/reporter.js"></script>
</body>
</html>
